.result-scroll {
    height: 100%;
    overflow: scroll;
  }
  
h2 {
  color: firebrick;
}

a {
  color: black !important;
  &:hover {
    color: firebrick !important;
  }
}

.example-full-width {
  margin-left: 15px !important
}